@charset "utf-8";
ul {
	width: 1000px;
	margin: 0px auto;
	margin-top: 50px;
}

ul li {
	height: 30px;
	margin-bottom: 5px;
}

ul li label {
	float: left;
	display: inline-block;
	width: 60px;
	text-align: right
}

ul li input {
	border: 1px solid #ccc;
	height: 20px;
	border-radius: 3px;
}




/*首页导航*/
.navbar {
	height: 50px;
}
 .neirong,
 .nav-neirong{
	width:720px;
	margin:  0 auto;
}
#title {
	color: #aaa;
	line-height: 50px;
	width: 50%;
}

#ask,#landing{
	float: right;
	line-height: 50px;
	color: #aaa;
}
#ask{
	margin: 0 10px;
}
#ask a ,
#landing a{
	color: #aaa;
}
#ask a:hover ,
#landing a:hover{
	text-decoration: none;
}
.glyphicon-plus,
.glyphicon-user{
	margin: 0 5px;
}


