{{include "share/header"}}
		<div class="h50"></div>
		<div id="nav">

			<nav class="nav">

				<div class="back">
					<a href="index.html"><span class="glyphicon glyphicon-chevron-left"></a>	
					</span>
				</div>
				<div class="title">上传头像</div>
				<div class="user">
					<span class="glyphicon glyphicon-home"></span>&#x3000;

				</div>
			</nav>
		</div>

		<main>
			<div class="ask-content">
				<form action="" method="" enctype="multipart/form-data">
					<div class="form-group">
						<input type="file" name="photo" />
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-success form-control" value="开始上传" name="photo"  />
					</div>
				</form>

			</div>

		</main>
{{include "share/footer"}}
