        * {
            padding: 0;
            margin: 0;
        }
        
        body {
            background-color: #f2f2f2;
            font-family: "微软雅黑";
        }
        
        .folder {
           margin: 0 auto;
           margin-top: 30px;
}        
        .folder .files {
            text-align: center;
            font-size: 17px;
           
        }
        
        .folder .files .file {
            color: #000000;
            margin-top: 33px;
            margin: 0 auto;
             font-weight: bold;
        }
        
        .folder .files .edit {
            float: right;
            padding-right: 10px;
         
        }
        
        .folder .icloud {
            height: 39px;
          
            font-size: 14px;
            border-top: solid 1px #c8c7cc;
            border-bottom: solid 1px #c8c7cc;
            margin-top: 15px;
            line-height: 39px;
        }
        
        .folder .icloud span {
            margin-left: 16px;
            color: #5a5a5f;
        }
        
         .folder .memos,
         .folder .allmemos {
            height: 45px;
            line-height: 45px;
           
            margin-left: 18px;
            border-bottom: solid 1px #c8c7cc;
            color: #454545;
        }
        
        .folder .memos .text,
        .folder .allmemos .text{
            font-size: 16px;
        }
         .folder .studyNotes .number{
              float: right;
            margin-right: 40px;
            font-size: 14px;
         }
         .folder .memos .number,
         .folder .allmemos .number{
            float: right;
            margin-right: 40px;
            font-size: 14px;
        }
        
          .folder .memos .tag,
         .folder .allmemos .tag {
            float: right;
            margin-right: -40px;
        }
        
        .folder .memos .tag img,
        .folder .allmemos .tag img {
            height: 13px;
        }
        
         .folder .studyNotes{
             background-color: #f0e5c4;
             height: 45px;
             line-height: 45px;
             width: 100%;
             border-bottom: solid 1px #c8c7cc;
             color: #454545;
             position: relative;
         }
          .folder .studyNotes .text{
              /*margin-left: 23px;*/
              position: absolute;
              left: 61px
          }
         .folder .studyNotes .edit img{
               margin-left: 18px;
               /*margin-top: 12px;*/
               height: 22px;
               position: absolute;
               top: 12px
         }
        .folder .newDel {
            height: 45px;
            line-height: 45px;
          
            border-bottom: solid 1px #c8c7cc;
            font-size: 20px;
            color: #454545;
        }
        
        .folder .newDel .text {
            margin-left: 18px;
            font-size: 16px;
        }
        
        .folder .newDel .number {
            float: right;
            margin-right: 40px;
            font-size: 14px;
        }
        
        .folder .newDel .tag {
            float: right;
            margin-right: -40px;
        }
        
        .folder .newDel .tag img {
            height: 13px;
        }
         .mask {
            position: fixed;
            top: 0px;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 98;
            background-color: #959595;
            opacity: 0.7;
        }
        
        #newfiles .newfiles {
            width: 272px;
            border: solid 1px #aaa;
            position: absolute;
            top: 27.75vh;
            left: calc(50% - 136px);
            background-color: #f7f7f7;
            border-radius: 10px;
            z-index: 99;
            text-align: center;
        }
        
        #newfiles .newfiles h1 {
            font-size: 16px;
            margin-top: 22px;
        }
        
        #newfiles .newfiles span {
            font-size: 13px;
        }
        
        #newfiles .newfiles input {
            margin-top: 21px;
            width: 239px;
            height: 23px;
            border: solid 1px #c3c3c3;
            font-size: 12px;
        }
           /*#newfiles .newfiles .close{
               z-index:100;
               margin-left:-30px;
               margin-top:4px;
           }*/
        #newfiles .newfiles .cancelstore {
            height: 43px;
         
            margin-top: 12px;
            border-top: solid 1px #dcdce0;
            font-size: 15px;
             
        }
        
        #newfiles .newfiles .cancelstore span {
            display: inline-block;
            height: 43px;
            line-height: 43px;
            width: 119px;
            color: #e2aa00;
        }
      
        #newfiles .newfiles .cancelstore span:last-child {
            color: #b9b9b9;
            border-left: solid 1px #b9b9b9;
            color: #e2aa00;
        }
        footer {
            height: 44px;
            line-height: 44px;
           width: 100%;
            border-top: solid 1px #cacaca;
            position: fixed;
            bottom: 0px;
        }
        
        footer span {
            font-size: 17px;
            float: right;
            margin-right: 9px;
            color: #e2aa00;
        }