<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="author" content="宋典花">
  <title>POST请求</title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    body{
      background-color: beige;
    }
    .container {
      height: 300px;
      width: 600px;
      margin: 30px auto;
    }
    .container h1{
      color: hotpink;
    }
    .container form input {
      margin-top: 20px;
    }
    .container form .submit{
      border: none;
      height: 30px;
      width: 60px;
      background-color: hotpink;
      color: #fff;
    }
  </style>
</head>
<body>
<div class="container">
  <form action="/user" method="post">
    <h1>个人信息的提交POST请求</h1>
    <input type="text" name="username" placeholder="请输入姓名"><br>
    <input type="password" name="password" placeholder="请输入密码"><br>
    <input type="submit" value="登录" class="submit">
  </form>

</div>
</body>
</html>
