@charset "utf-8";


body {
	background-color: #f1f1f1;
}

nav {
	height: 50px;
	width: 100%;
	background-color: #323436;
	position: fixed;
	padding: 0px;
	z-index: 1000;
}

nav section {
	max-width: 1184px;
	min-width: 200px;
	height: 50px;
	margin: 0 auto;
}

section .logo img {
	height: 37px;
	margin-right: 45px;
	margin-top: -7px;
}

nav .text {
	color: #999a9b;
	font-size: 14px;
	line-height: 50px;
	margin-right: 41px;
}

nav .text ul {
	background-color: #999;
	width: 100px;
	height: 120px;
	display: none;
	position: absolute;
	top: 32px;
}

nav .text ul li {
	font-size: 12px;
	line-height: 30px;
	line-height: 40px;
	color: blue;
	text-align: center;
	border-bottom: solid 1px blue;
}

nav .text ul li:last-child {
	border-bottom: none;
}

.more a {
	color: #999a9b;
}

.search {
	float: right;
}

.search li span:first-child {
	text-align: center;
	line-height: 50px;
	padding-right: 5px;
}

.login,
.reg {
	display: inline-block;
	height: 33px;
	width: 72px;
	color: #999a9b;
	background-color: #505050;
	line-height: 33px;
	text-align: center;
	float: right;
	margin-top: 9px;
	font-size: 12px;
}

.login:hover,
.reg:hover {
	background-color: #6bc30d;
	color: #fff;
	cursor: pointer;
}

.h50 {
	height: 50px;
	width: 100%;
}

.banner {
	height: 200px;
	width: 100%;
	text-align: center;
}

.banner section {
	height: 115px;
	width: 400px;
	margin: 0 auto;
	border-top: 45px;
}

.banner section .number {
	display: inline-block;
	color: #00ffe7;
	font-size: 40px;
	border-left: solid 1px #729cb7;
	height: 39px;
	width: 80px;
}

.banner section .number:first-child {
	border-left: none;
}

.banner section .number .text {
	font-size: 12px;
	color: #729cb7;
}

.banner section .ad {
	color: #729CB7;
	margin-top: 15px;
}

.banner section .btn {
	display: inline-block;
	height: 31px;
	line-height: 31px;
	width: 121px;
	text-align: center;
	background-color: #486d7f;
	color: #8096a4;
	margin-top: 23px;
}

.banner section .btn:hover {
	background-color: #00b4de;
	color: #fff;
	cursor: pointer;
}

.daohang {
	height: 60px;
	line-height: 60px;
	width: 100%;
	box-shadow: 1px 1px 1px #aaa;
	background-color: #f7f8f8;
}

.daohang div {
	height: 60px;
	line-height: 60px;
	max-width: 1184px;
	margin: 0 auto;
}

.daohang div ul li {
	float: left;
	width: 129px;
	height: 41px;
	line-height: 41px;
	color: #8a8a8a;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.active {
	background-color: #edeeee;
	box-shadow: 0px 0px 1px #aaa;
}

.daohang div ul li:last-child {
	width: 229px;
}

main {
	height: 617px;
	width: 1184px;
	margin: 0 auto;
}

main .designer,
main .template {
	margin-top: 33px;
	display: block;
	height: 301px;
	width: 584px;
	background-color: #ffffff;
	float: left;
	
}

main .template .uemo{
	height: 180px;
	width: 528px;
	margin: 21px 0px 33px 21px;
	display: flex;
	justify-content: flex-end;
	
}
/*main .template .uemo img{
	display: flex;
}*/
main .template .uemo .time{
	height: 180px;
	width: 284px;
}
main .template .uemo .time p{
	margin-left: 30px;
}
main .template .uemo .time p:first-child{
	margin-top: 16px;
	font-size: 16px;
	
}
main .template .uemo .time p:nth-child(2){
	color: #8a8a8a;
}
main .template .uemo .time p:last-child{
	margin-top: 16px;
	font-size: 12px;
	color: #505050;
}
main .designer{
	margin-right: 12px;
}
main .fload {
	margin-right: 16px;
}
main .layer .text,
main .fload .text{
	height: 115px;
	width: 216px;
	/*background-color: #00b4de;*/
	margin: 21px 33px 70px 21px;
}
main .layer .text p:first-child,
main .fload .text  p:first-child{
	font-size: 17px;
}
main .layer .text p:last-child,
main .fload .text  p:last-child{
	font-size: 14px;
	color: #8a8a8a;
	margin-top: 31px;
}
main .fload img,
main .layer img{
	width: 100%;
}

main .fload,
main .layer {
	display: inline-block;
	height: 301px;
	width: 283px;
	background-color: #fff;
	margin-top: 20px;
}

main .company {
	height: 202px;
	width: 100%;
	background-color: #fff;
	margin-top: 28px;
	
}
main .company .commend{
	display: inline-block;
	height: 43px;
	width: 979px;
	line-height: 43px;
	font-size: 17px;
	margin-left: 21px;
}
main .company .qq{
	display: inline-block;
	height: 43px;
	line-height: 43px;
	width: 180px;
	border-left: solid 1px #f1f1f1;
	text-align: center;
}
main .company .hr{
	display: inline-block;
	height: 1px;
	width: 100%;
	color: #f1f1f1;
}


main .designer .lr,
main .template .lr  {
	width: 100%;
	height: 63px;
	line-height: 63px;
	color: #7e7e7e;
	border-bottom: solid 1px #F1F1F1;
}
main .company .lr{
	width: 100%;
	height: 43px;
	line-height: 43px;
	color: #7e7e7e;
	border-bottom: solid 1px #F1F1F1;
}
main .company .net{
	height: 112px;
	width:872px;
	/*background-color: lightblue;*/
	margin-top: 22px;
	margin-left: 15px;
	display: flex;
}
main .company .net div{
	height: 112px;
	width: 90px;
	/*background-color: pink;*/
	margin-right: 24px;
	text-align: center;
}
main .company .net div img{
	width: 90px;
}
main .company .net div p{
	margin-top: 15px;
	font-size: 10px;
}
#designer {
	display: flex;
}

.designer-fl,
.designer-fr {
	height: 186px;
	width: 230.5px;
	margin: 20px 0 33px 0;
}

.designer-fl .designer-fl1,
.designer-fl .designer-fl2,
.designer-fl .designer-fl3 {
	height: 62px;
	margin-left: 23px;
}

.designer-fl .designer-fr1,
.designer-fl .designer-fr2,
.designer-fl .designer-fr3 {
	height: 62px;
}

.designer-fl .designer-fl2,
.designer-fl .designer-fl3 {
	margin-top: 8px;
}
.designer-fl .designer-fr2,
.designer-fl .designer-fr3{
	clear: both;
	margin-top: 24px;
}
.designer-fl .designer-fl1 span img,
.designer-fl .designer-fl2 span img,
.designer-fl .designer-fl3 span img,
 {
	height: 46px;
}

footer{
	height: 100px;
	width: 100%;
	background-color: #323436;
	position: fixed;
	z-index:1000;
}
footer section{
	max-width: 1184px;
	margin: 0 auto;
	height: 80px;
	line-height: 51px;
}
footer section .text{
	color: #fff;
	line-height: 50px;
	margin-right: 41px;
	font-size: 12px;
}
footer section .text1{
	color: #999a9b;
	font-size: 12px;
	line-height: 40px;
	margin-right: 41px;
	
}

footer section .copyby{
	line-height: 40px;
	height: 40px;
	width: 50%;
	/*background-color: pink;*/
	color: #999a9b;
}