<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="author" content="宋典花">
  <title></title>
  <script src="jquery-2.0.3.js"></script>
  <!--<script src="jqueryGet.js"></script>-->
  <!--<script src="jqueryPost.js"></script>-->
  <!--<script src="get.js"></script>-->
  <!--<script src="FormData.js"></script>-->
  <script src="post.js"></script>

</head>
<body>
<h1>尝试get和post两种方式实现ajax请求</h1>
<form action="/common">
  <input type="text">
  <input type="submit" value="点击提交">
</form>
</body>
</html>
