<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1">
  <meta name="author" content="宋典花">
  <meta name="discription" content="描述">
  <meta name="keywords" content="关键字">
  <meta name="robots" content="机器人">
  <title>AJAX请求</title>
    <script src="jquery-2.0.3.js"></script>
    <script src="get.js"></script>
    <!--<script src="post.js"></script>-->
    <!--<script src="formData.js"></script>-->
    <!--<script src="jget.js"></script>-->
    <!--<script src="jpost.js"></script>-->

</head>
<body>
<h1>尝试使用GET和POST两种方式来发送AJAX请求</h1>
<form action="/common">
    <label>请输入您的评价信息:</label>
    <input type="text">
</form>
<div id="load"></div>
</body>
</html>
<script>
    $(function () {
        $('#load').load('/test.html')
    })
</script>